@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #0c0101, #0b0e2f, #04050f);
}

.container {
  height: 100vh;
  position: relative;
}

.heart {
  width: 500px;
  height: 500px;
  background: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sky {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transform-origin: 0% 20%;
}

.sky span {
  position: relative;
  display: inline-block;
  width: min(calc(1px * var(--i)), 5px);
  height: min(calc(1px * var(--i)), 5px);
  margin: 10px;
  background: rgb(255, 111, 0);
  border-radius: 50%;
  box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
  animation: animate 5s linear infinite;
  animation-delay: -1s;
  animation-duration: calc(1s * var(--i));
}

@keyframes animate {
  0% {
    transform: translateY(0) translateX(0);
    filter: hue-rotate(0);
  }
  100% {
    transform: translateY(90vh) translateX(100vw);
    filter: hue-rotate(360deg);
  }
}

.item {
  opacity: 0;
  position: absolute;
  font-size: 32px;
  offset-path: path(
    'M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3C444.801,187.101,434.001,213.101,414.401,232.701z'
  );
  animation: animate-heart 8s linear infinite;
  animation-delay: calc(0.05s * var(--i));
}

@keyframes animate-heart {
  0%,
  100% {
    filter: hue-rotate(0);
    offset-distance: 0%;
    opacity: 0;
  }
  50% {
    filter: hue-rotate(360deg);
    offset-distance: calc(1% * var(--i));
    opacity: 1;
  }
}

.item ion-icon {
  color: rgb(255, 111, 0);
}

.heart-text {
  position: absolute;
  display: flex;
  width: 500px;
  height: 500px;
  left: 49%;
  top: 45%;
  gap: 8px;
  padding-left: 0px;
  transform: translate(-50%, -50%);
  font-family: 'Dancing Script', cursive;
  font-size: 2.5em;
  color: rgb(255, 8, 144);
  justify-content: center;
  align-items: center;
}

.drop {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(4px 4px 10px #fff);
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05),
    15px 25px 10px rgba(0, 0, 0, 0.05),
    15px 20px 20px rgba(0, 0, 0, 0.05) inset -10px -10px 15px
      rgba(255, 255, 255, 0.9);
}

.drop-item {
  /* opacity: 0; */
  /* animation: animate-drop-item 4s linear infinite; */
  animation-delay: calc(1s * var(--i));
}

@keyframes animate-drop-item {
  0%,
  100% {
    opacity: 0;
    scale: 0;
  }
  50% {
    opacity: 1;
    scale: 1;
  }
}

.drop::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  filter: blur(2px);
}

.heart-text span {
  font-size: 2em;
  color: #fff;
  margin-bottom: 20px;
}
